/*Styling for arch board game*/


.square {
    width: 3em;
    height: 3em;
    border: 0.1em solid grey;
    text-align: center;
    font-size: 1.2em;
}

/*custom for good digs*/
.square.yes {
    color: green;
}

/*custom for bad digs*/
.square.no {
    color: skyblue;
}

/*id*/
#summaryMessage {
    margin: 2em;
    font-weight: bold;
    color:brown
}